body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

nav {
    background-color: #333333;
    color: #ffffff;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    padding: 10px 20px;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover {
    text-decoration: underline;
    color: rgb(147, 85, 218);
}
